output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
*/work-items-out/*
.~lock*
*.pkl
.env
build/*
dist/*
index.html
fichier_commande.json
logs/
assertion_report.pdf
logs/debug_click.png
logs/debug_rightclick.png
logs/debug.log
logs/error_creation_commande.png
logs/error_log.txt
logs/template.png
logs/error_log.txt
logs/debug.log
